// Colors

$white: #fff;
$black: #000;
$colorPrimary: #3a3a3a;
$colorSecondary: #616161;
$colorOrange: #e89f71;
$colorDarkBlue: #262f56;
$colorLightGray: #f4f5f7;
$colorGreen: #2ec1ac;
$colorRed: #e97171;

// Sizes

$base-font-size: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$content: 1270px;

// Adaptive value

$maxWidth: 1440;
$maxWidthContainer: 1270;

// Fonts

$mainFont: Arial";
